<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item - Production Marketplace</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/items_style.css">
    <link rel="stylesheet" href="/css/item_style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="content">
            <h1>Edit Item</h1>
            <div class="edit-container">
                <form method="POST" action="/items/<%= item.id %>?_method=PUT" class="edit-form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" value="<%= item.title %>" required>
                    </div>

                    <div class="form-group">
                        <label for="condition">Condition</label>
                        <select id="condition" name="condition" required>
                            <option value="new" <%= item.condition === 'new' ? 'selected' : '' %>>New</option>
                            <option value="used" <%= item.condition === 'used' ? 'selected' : '' %>>Used</option>
                            <option value="refurbished" <%= item.condition === 'refurbished' ? 'selected' : '' %>>Refurbished</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="price">Price ($)</label>
                        <input type="number" id="price" name="price" value="<%= item.price.toFixed(2) %>" step="0.01" required>
                    </div>

                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea rows="5" id="details" name="details" required><%= item.details || '' %></textarea>
                    </div>

                    <div class="form-group">
                        <label>Image URL</label>
                        <p id="imageUrl" style="border: 1px solid #ccc; padding: 8px; border-radius: 5px; max-width: 500px; word-wrap: break-word;"><%= item.image %></p>
                    </div>

                    <div class="form-group">
                    <label for="imageUpload">Replace Image</label>
                        <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
                    </div>
                    
                    <input type="submit" value="Update Item" class="submit-button">
                </form>
                <div class="image-preview">
                    <!-- <h6>Current Image</h2> -->
                    <img src="<%= item.image %>" alt="<%= item.title %>" class="item-image">
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
